<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body  background="https://learn.g2.com/hubfs/Learn%20Hub%20Featured%20Images/_learn-marketing-budget@2x.png">
    <div class="container mt-4 centered-form" style="display: flex; flex-direction: column; align-items: center; padding-top: 50px;">
        <h1 style="padding-bottom: 50px; color: white;"><strong>Xpense Tracker</strong></h1>
        <div class="card" style="width: 500px;">
            <div class="card-body">
                <form id="forgetPassword" onsubmit="forgotPassword(event)">
                    <h4 style="text-align: center;">Forgot Password</h4>
                    <div class="form-floating mb-3">
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
                        <label for="email" class="text-black">Email</label>
                    </div>
                    <button type="submit" class="form-control" style="background-color: blue; color: white;">Send Email</button>
                    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                        <a style="padding-top: 5px;" class="form-label" href="../signUp/signup.html">New User? Sign-up Here</a>
                        <a class="form-label" href="../logIn/login.html">Login Here</a>
                    </div>
                    
                </form>
                <div id="error" style="color: red; text-align: center;"></div>
            </div>
        </div>
    </div>
    <script src="forgotPassword.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</body>
</html>